streamlit==1.39.0
fastapi==0.115.0
uvicorn==0.30.6

pandas==2.1.4
numpy==1.26.4

PyMuPDF==1.23.26
pdfminer.six==20231228
pdfplumber==0.11.0
pdf2image==1.17.0
pytesseract==0.3.10

tabula-py==2.9.3

pillow==10.4.0

rapidfuzz==3.6.2
PyYAML==6.0.1
xmltodict==0.13.0
python-multipart==0.0.9

sqlalchemy==2.0.23
pymysql==1.1.0
psycopg2-binary==2.9.9
pgvector==0.2.5
alembic==1.13.1

torch==2.3.1
transformers==4.44.2
accelerate==0.34.2
sentencepiece==0.2.0
huggingface_hub==0.24.6

openai==1.40.0
sentence-transformers==3.0.1

ollama==0.4.0

PyJWT==2.8.0

python-dotenv==1.0.1
requests==2.32.3